body {
    background: linear-gradient(to right, #4c80f1, #9347b5);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#timer-container {
    text-align: center;
    color: white;
    border: 2px solid rgba(218, 217, 217, 0.61);
    border-radius: 5px;
    padding: 40px;
    background: rgba(179, 179, 179, 0.473);
    box-shadow: 2px 3px 7px 2px lightblue;
}

/* #buttons button {
    margin: 0 5px;
} */

#timer, #buttons {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(109, 121, 113);
}

#buttons button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1em;
    background: transparent;
    color: black; 
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

#buttons button:hover{
     color: #d1cbcb;
     background-color: rgba(194, 194, 194, 0.349);
}

#settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#settings-container button {
    margin: 0 5px;
    font-size: 1em;
    background: #fff;
    color: #2ecc71; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#time {
    font-size: 1.5em;
    margin: 0 10px;
}

#modal-decrease{
    background: transparent;
    border: none;
    font-size: 30px;
}


#modal-increase{
    background: transparent;
    border: none;
    font-size: 20px;
}
